body{
    background-color: #F2EFE9;
    font-weight: bold; 
}
.index_contenedor{
    padding: 10px 50px 20px;
    text-align: center;
    color: #57385C;
}
h2, h3{
    color: #A75265;
    font-weight: bold; 
}
p{
    color: #57385C;
}
.contact{
    padding: 10px 50px 20px;
    text-align: center;
}